<a [routerLink]="['/accueil']" class="return">
  <- Retour à l'accueil </a>

    <div class="row">
      <h2 class="mx-auto">Se Connecter</h2>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <div class="row">
        <div class="flex-column d-flex mx-auto">
          <div class="d-flex justify-content-between">
            <label for="username">Nom d'utilisateur : </label>
            <input id="username" type="username" formControlName="username">
          </div>
          <div>
            <label for="password">mot de passe:</label>
            <input id="password" type="password" formControlName="password">
          </div>
          <button type="submit" class="btn red rounded-pill">Se connecter</button>


        </div>
      </div>
    </form>
