<div *ngIf="!isAddForm; else addForm">
  <button class="btn btn-danger add" (click)="showAddForm()">Ajouter un garage</button>
</div>
<ng-template #addForm>

  <form [formGroup]=" addGarageForm" (ngSubmit)="submitAddForm()" class="row justify-content-center">
    <div class="col-4">
      <div class="d-flex justify-content-center flex-column">
        <label for="name">Nom: </label>
        <input id="name" type="text" formControlName="name">
        <label for="telephone">Téléphone: </label>
        <input id="telephone" type="text" formControlName="telephone">
        <strong class="mt-1">Adresse</strong>
        <label for="number">Numéro: </label>
        <input id="number" type="number" formControlName="number">
        <label for="complement">Complément: </label>
        <input id="complement" type="text" formControlName="complement">
        <label for="road">Rue: </label>
        <input id="road" type="text" formControlName="road">
        <label for="codePostal">Code postal: </label>
        <input id="codePostal" type="text" formControlName="codePostal">
        <label for="city">Ville: </label>
        <input id="city" type="text" formControlName="city">
      </div>
      <div class="d-flex justify-content-center mt-2">
        <button type="submit" class="btn red rounded-pill">Ajouter le garage</button>
      </div>
    </div>
  </form>

</ng-template>
<br>
