<nav class="navbar navbar-light bg-light">
  <form class="container-fluid justify-content-start">
    <button class="btn btn-outline-danger m-2" type="button" [routerLink]="['/admin/profil']">
      Ajouter un utilisateur
    </button>
    <button class="btn btn-outline-secondary" type="button" [routerLink]="['/compte']">Mon compte</button>
    <button class="btn btn-outline-danger m-2" type="button" [routerLink]="['/admin/utilisateurs']">
      Les utilisateurs
    </button>
    <button class="btn btn-outline-secondary" type="button" [routerLink]="['/admin/garages']">Les garages</button>
    <button class="btn btn-outline-danger m-2" type="button" [routerLink]="['/admin/annonces']">
      Les annonces
    </button>
  </form>
</nav>
