<app-log-button></app-log-button>
<h1> Mes garages</h1>
<app-menu-user></app-menu-user>

<div class="mt-2">
  <app-add-garage>
  </app-add-garage>
</div>

<div class="row d-flex justify-content-center">

  <app-garage class="m-1 col-3" *ngFor="let garage of garages | paginate: { itemsPerPage: 10, currentPage: p }"
    [garage]="garage"></app-garage>

</div>

<pagination-controls previousLabel="" nextLabel="" (pageChange)="p = $event" class="d-flex justify-content-center mt-5">
</pagination-controls>
