header {
  background-color: #c4c4c4;
  position: relative;
  height: 160px;
  margin-bottom: 150px;
}
header [alt~="logo"] {
  width: 100%;
  border-radius: 78px;
}
header img:not([alt~="logo"]) {
  width: 70%;
}
/*  header [alt~="car_man"] {

} */
header [alt~="car_woman"] {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
