<header class="row d-flex justify-content-center align-items-start">
  <div class="col d-flex justify-content-center align-items-start"><img src=" ../../assets/car_man.png" alt="car_man">
  </div>
  <div class="col d-flex justify-content-center align-items-center mt-2 t"><a [routerLink]="['/']"><img
        src="../../assets/logo.PNG" alt="logo"></a></div>
  <div class="col d-flex justify-content-center align-items-start t1"><img src="../../assets/car_woman.png"
      alt="car_woman">
  </div>
</header>
