#banner {
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: #c4c4c4;
}

#logo {
  position: absolute;
  width: 20%;
  height: auto;
  left: 40%;
  top: 15%;
  /* background: url(../../assets/logo.PNG); */
  border-radius: 25%;
}

p {
  text-align: right;
  padding-right: 1%;
  padding-top: 5%;
}

p a {
  color: red;
}
