header {
  background-color: #c4c4c4;
  position: relative;
  height: 160px;
  margin-bottom: 150px;
}
header [alt~="logo"] {
  width: 33%;
  left: calc(50% - 480px / 2 - 4px);
  top: 10%;
  border-radius: 73px;
  position: absolute;
}
header img:not([alt~="logo"]) {
  width: 20%;
  position: absolute;
  top: 20px;
}
header [alt~="car_man"] {
  left: 10%;
}
header [alt~="car_woman"] {
  right: 10%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
header a {
  color: red;
}
header div {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: flex-end;
  position: relative;
  top: 170px;
  right: 10px;
}
