div {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: flex-end;
  margin-top: -8%;
  margin-right: 2%;
}
.logout {
  float: right;
  margin-top: -8%;
  margin-right: 2%;
  color: red;
}
a {
  color: red;
}
