<div *ngIf="isLogin == 'false' || isLogin == null || isLogin == 'undefined' ; else logoutDisplay">
  <p>Vous voulez faire votre annonce ici ? <a [routerLink]="['/contact']">contactez M.Lodevie </a></p>
  <p><a [routerLink]="['/login']">Garage? Connectez-vous</a></p>
</div>
<ng-template #logoutDisplay>
  <a class="logout" (click)="logout()">Déconnexion -></a>
  <div *ngIf="atHome">
    <div *ngIf="isAdmin">
      <p><a [routerLink]="['admin/profil']">Profil</a></p>
    </div>
    <div *ngIf="!isAdmin">
      <p><a [routerLink]="['/profil']">Profil</a></p>

    </div>
  </div>
</ng-template>
