<form [formGroup]="addAnnonceForm" (ngSubmit)="submitForm()">
  <div class="row">
    <div class="col-7">
      <div class="main">
        <label for="title">Titre: </label>
        <input id="title" type="text" formControlName="title">

        <label for="description">description: </label>
        <textarea id="description" type="text" formControlName="description" rows="5"></textarea>

        <label for="shortDescription">description courte: </label>
        <textarea id="shortDescription" type="text" formControlName="shortDescription"></textarea>
      </div>
    </div>
    <div class="col-4">
      <label for="photos">Photos:</label>
      <span *ngIf="noPhotos; else withPhotosDisplay">


        <div class="photoStyle d-flex justify-content-center align-items-center">
          <input type="file" multiple formControlName="photos" (change)="getPhotos($event)">
        </div>

      </span>

      <ng-template #withPhotosDisplay>
        <div class="photoStyle">
          <div class="d-flex justify-content-center">
            <img class="m-1" *ngFor="let photo of imgURL" [src]="photo" height="100" width="100"
              (click)="deletePhoto($event)">
          </div>
          <div class="d-flex justify-content-center mt-4">
            <input class="" type="file" multiple formControlName="photos" (change)="getPhotos($event)">
          </div>
          <div class="m-3">
            <p> -> Pour supprimer une image, cliquez dessus</p>
            <p> -> Seules 5 images sont acceptées par annonce</p>
          </div>
        </div>



      </ng-template>



    </div>
  </div>

  <div class="tecnical">
    <div class="verticalLabels">
      <label for="circulationYear">Année de mise en circulation: </label>
      <input id="circulationYear" type="number" formControlName="circulationYear">
    </div>
    <div class="verticalLabels">
      <label for="kilometers">kilomètres: </label>
      <input id="kilometers" type="number" formControlName="kilometers">
    </div>
    <div class="verticalLabels">
      <label for="price">prix: </label>
      <input id="price" type="number" formControlName="price">
    </div>
    <div class="verticalLabels">
      <label for="make">marque: </label>
      <select name="make" formControlName="make" (ngModelChange)="getModels()">
        <option *ngFor=" let make of makes" value={{make.id}}>{{make.name}}</option>
      </select>
    </div>
    <div class="verticalLabels">
      <label for="model">modèle: </label>
      <select name="model" formControlName="model">
        <option *ngFor="let model of models" value={{model.id}}>{{model.name}}</option>
      </select>
    </div>
    <div class="verticalLabels">
      <label for="fyelType">type de carburant: </label>
      <select name="fuelType" formControlName="fuelType">
        <option *ngFor="let fuelType of fuelTypes" value={{fuelType.id}}>{{fuelType.name}}</option>
      </select>
    </div>
    <div class="verticalLabels">
      <label for="garage">garage: </label>
      <select name="garage" formControlName="garage">
        <option *ngFor="let garage of user.garages" value={{garage.id}}>{{garage.name}}</option>
      </select>
    </div>
  </div>
  <div class="btn">
    <button type="submit" class="btn red rounded-pill">Ajoute annonce</button>
  </div>
</form>
