form {
  margin: 2%;
}
.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
}
.tecnical {
  display: flex;
  justify-content: space-between;
}
.verticalLabels {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}
