form {
  margin: 2%;
}
.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
}
.tecnical {
  display: flex;
  justify-content: space-between;
}
.verticalLabels {
  display: flex;
  flex-direction: column;
  text-align: center;
}
