.annonce {
  border: gray solid 2px;
}

h2 {
  color: red;
}
div h2 + p + p {
  text-align: center;
  font-size: 200%;
  font-style: italic;
}

.btn.grey {
  padding: 5% 30%;
  /* padding: 10px 20px; */
}
.technicalDetails:nth-of-type(1) {
  margin: 1.5% 3% 0 0;
}
.technicalDetails:not(:nth-of-type(1)) {
  margin-top: 2%;
}
span {
  margin: 2%;
}

#detailsRow {
  border: 2px #c4c4c4 solid;
  margin-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  text-align: center;
  justify-content: space-evenly;
}
.btn.red {
  padding: 1% 5%;
  margin: 0 40%;
}

ngb-carousel {
  max-width: 700px;
  /* margin: 50px auto; */
}

ngb-carousel img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  outline: none;
}

ngb-carousel {
  width: inherit;
  height: inherit;
}

.carousel-inner {
  overflow: visible;
}

.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
}

.carousel-item.active {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.carousel-control-prev {
  z-index: 20;
}

.carousel-control-next {
  z-index: 20;
}

.carousel-indicators {
  z-index: 20;
}
