<app-search-bar></app-search-bar>


<div class="container annonce">
  <div class="row">
    <div class="col-6">
      <h2>{{annonce.title}}</h2>
      <p>{{annonce.description}}</p>
      <p>Prix: {{annonce.price}}</p>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col">
          <ngb-carousel #carousel [interval]="5000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
            (slide)="onSlide($event)">
            <ng-template ngbSlide *ngFor="let img of annonce.photos">
              <div class="picsum-img-wrapper">
                <img [src]="img" alt="{{annonce.title}}">
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>

    </div>
    <!-- Technical Details-->
    <div class="row rowFix bg-secondary" id="detailsRow">

      <div class="technicalDetails anneFix m-auto">
        <p class="badge rounded-pill btn grey m-auto"> Année Mise en Circulation</p>
        <span>{{annonce.circulationYear}}</span>
      </div>

      <div class="technicalDetails tFix">
        <p class="badge rounded-pill btn grey m-auto">Marque</p>
        <span>{{annonce.make.name}}</span>
      </div>
      <div class="technicalDetails tFix">
        <p class="badge rounded-pill btn grey m-auto">Modele</p>
        <span>{{annonce.model.name}}</span>
      </div>
      <div class="technicalDetails tFix">
        <p class="badge rounded-pill btn grey m-auto">Carburant</p>
        <span>{{annonce.fuelType.name}}</span>
      </div>
      <div class="technicalDetails tFix">
        <p class="badge rounded-pill btn grey m-auto">Kilometrage</p>
        <span>{{annonce.kilometers}}</span>
      </div>
      <div class=" technicalDetails tFix">
        <p class="badge rounded-pill btn grey m-auto">Prix</p>
        <span>{{annonce.price}}</span>
      </div>
    </div>
    <div class="m-auto">
      <p>Est-ce votre voiture idéale ? Prenez note de la référence et envoyez-la à M. Lodevie.</p>
      <p class="badge rounded-pill btn red mb-3">Ref: {{annonce.id}} </p>
    </div>
  </div>
</div>
