<app-search-bar></app-search-bar>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>{{annonce.titre}}</h2>
      <p>{{annonce.descriptionComplete}}</p>
      <p>{{annonce.prix}}</p>

    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <ngb-carousel #carousel [interval]="5000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
            (slide)="onSlide($event)">
            <ng-template ngbSlide *ngFor="let img of images">
              <div class="picsum-img-wrapper">
                <img [src]="img" alt="{{annonce.titre}}">
              </div>

            </ng-template>
          </ngb-carousel>
        </div>
      </div>
      <div class="row">
        <div class="technicalDetails">
          <p class="badge rounded-pill btn grey"> Année Mise en Circulation</p>
          {{annonce.aneeMiseCirculation}}
        </div>
        <div class="technicalDetails">
          <p class="badge rounded-pill btn grey">Marque</p>
          {{annonce.marque}}
        </div>
        <div class="technicalDetails">
          <p class="badge rounded-pill btn grey">Modele</p>
          {{annonce.modele}}
        </div>
        <div class="technicalDetails">
          <p class="badge rounded-pill btn grey">Carburant</p>
          {{annonce.carburant}}
        </div>
        <div class="technicalDetails">
          <p class="badge rounded-pill btn grey">Kilometrage</p>
          {{annonce.kilometrage}}
        </div>
      </div>
      <p>Est-ce votre voiture idéale ? Prenez note de la référence et envoyez-la à M. Lodevie. Vous pouvez également
        copier la référence en cliquant simplement sur <i class="far fa-copy" id="i"></i></p>
      <p p class="btn red">Ref: {{annonce.reference}} <i class="far fa-copy" id="i"></i></p>

    </div>
  </div>
</div>
