<app-search-bar></app-search-bar>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>{{annonce.titre}}</h2>
      <p>{{annonce.descriptionComplete}}</p>
      <p>{{annonce.prix}}</p>

    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <ngb-carousel #carousel [interval]="5000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
            (slide)="onSlide($event)">
            <ng-template ngbSlide *ngFor="let img of images">
              <div class="picsum-img-wrapper">
                <img [src]="img" alt="{{annonce.titre}}">
              </div>

            </ng-template>
          </ngb-carousel>
        </div>
      </div>
      <div class="row" id="detailsRow">
        <div class="technicalDetails">
          <p class="badge rounded-pill btn grey"> Année Mise en Circulation</p>
          <span>{{annonce.aneeMiseCirculation}}</span>
        </div>
        <div class="technicalDetails">
          <p class="badge rounded-pill btn grey">Marque</p>
          <span>{{annonce.marque}}</span>
        </div>
        <div class="technicalDetails">
          <p class="badge rounded-pill btn grey">Modele</p>
          <span>{{annonce.modele}}</span>
        </div>
        <div class="technicalDetails">
          <p class="badge rounded-pill btn grey">Carburant</p>
          <span>{{annonce.carburant}}</span>
        </div>
        <div class="technicalDetails">
          <p class="badge rounded-pill btn grey">Kilometrage</p>
          <span>{{annonce.kilometrage}}</span>
        </div>
      </div>
      <p>Est-ce votre voiture idéale ? Prenez note de la référence et envoyez-la à M. Lodevie. Vous pouvez également
        copier la référence en cliquant simplement sur <i class="far fa-copy" id="i"></i></p>
      <p p class="badge rounded-pill btn red">Ref: {{annonce.reference}} <i class="far fa-copy" id="i"></i></p>

    </div>
  </div>
</div>
