<a [routerLink]="['/accueil']" class="return">
  <- Retour à l'accueil </a>

    <h1 class="d-flex justify-content-center">Contactez M. Lodevie</h1>
    <div class="d-flex justify-content-center pt-3">


      <p>

        Si vous souhaitez que vos voitures soient mises en vente ici, ou si vous êtes intéressé par l'achat d'un des
        véhicules, veuillez contacter M. Lodevie :
        <br>

        <span class="d-flex justify-content-center pt-3"> <strong> Téléphone : 500-00-00</strong></span>
      </p>

    </div>
