<h1 class="d-flex justify-content-center"> Ajouter l'utilisateur </h1>


<form [formGroup]="addUserForm" (ngSubmit)="submitForm()" class="row justify-content-center">
  <div class="col-4">
    <div class="d-flex justify-content-center flex-column">
      <label for="lastname">Nom: </label>
      <input id="lastname" type="text" formControlName="lastname">

      <label for="firstname">Prénom : </label>
      <input id="firstname" type="text" formControlName="firstname">

      <label for="email">Adresse Mail : </label>
      <input id="email" type="email" formControlName="email">

      <label for="telephone">Téléphone :</label>
      <input id="telephone" type="text" formControlName="telephone">

      <label for="siret">SIRET : </label>
      <input id="siret" type="text" formControlName="siret">

      <label for="username">Nom d'utilisateur: </label>
      <input id="username" type="text" formControlName="username">
    </div>
    <br>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn red rounded-pill">Ajouter l'utilisateur</button>
    </div>

  </div>


</form>
