<form *ngIf="annonce" [formGroup]="editAnnonceForm" (ngSubmit)="submitForm()">
  <div class="row">
    <div class="col-7">
      <div class="main">

        <label for="title">Titre: </label>
        <input id="title" type="text" value="{{annonce.title}}" formControlName="title">

        <label for="description">Description: </label>
        <textarea id="description" type="text" value="{{annonce.description}}" formControlName="description"
          rows="5"> </textarea>

        <label for="shortDescription">Description courte: </label>
        <textarea id="shortDescription" type="text" value="{{annonce.shortDescription}}"
          formControlName="shortDescription"> </textarea>
      </div>
    </div>
    <div class="col-4">
      <label for="photos">Photos:</label>
      <span *ngIf="noPhotos; else withPhotosDisplay">
        <div class="photoStyle d-flex justify-content-center align-items-center">
          <input type="file" multiple formControlName="photos" (change)="getPhotos($event)">
        </div>
      </span>
      <ng-template #withPhotosDisplay>
        <div class="photoStyle">
          <div class="d-flex justify-content-center">
            <img class="m-1" *ngFor="let photo of photos" [src]="photo" height="100" width="100"
              (click)="deletePhoto($event)">
          </div>
          <div *ngIf="photos.length < 5" class="d-flex justify-content-center mt-4">
            <input class="" type="file" multiple formControlName="photos" (change)="getPhotos($event)">
          </div>
          <div class="m-3">
            <p> -> Pour supprimer une image, cliquez dessus</p>
            <p> -> Seules 5 images sont acceptées par annonce</p>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="tecnical">
    <div class="verticalLabels">
      <label for="circulationYear">Année de mise en circulation: </label>
      <input id="circulationYear" type="number" value="{{annonce.circulationYear}}" formControlName="circulationYear">
    </div>
    <div class="verticalLabels">
      <label for="kilometers">Kilomètres: </label>
      <input id="kilometers" type="number" value="{{annonce.kilometers}}" formControlName="kilometers">
    </div>
    <div class="verticalLabels">
      <label for="price">Prix: </label>
      <input id="price" type="number" value="{{annonce.price}}" formControlName="price">
    </div>
    <div class="verticalLabels">
      <label for="make">Marque: </label>
      <select name="make" formControlName="make" (ngModelChange)="getModels()">
        <option *ngFor=" let make of makes" value={{make.id}} selected="{{make.name}}">{{make.name}}</option>
      </select>
    </div>
    <div class="verticalLabels">
      <label for="model">Modèle: </label>
      <select name="model" formControlName="model">
        <option *ngFor="let model of models" value={{model.id}} selected="{{model.name}}">{{model.name}}</option>
      </select>
    </div>
    <div class="verticalLabels">
      <label for="fyelType">Type de carburant: </label>
      <select name="fuelType" formControlName="fuelType">
        <option *ngFor="let fuelType of fuelTypes" value={{fuelType.id}} selected="{{fuelType.name}}">
          {{fuelType.name}}
        </option>
      </select>
    </div>
    <div class="verticalLabels">
      <label for="garage">Garage: </label>
      <select name="garage" formControlName="garage">
        <option *ngFor="let garage of user.garages" value={{garage.id}} selected="{{garage.name}}">{{garage.name}}
        </option>
      </select>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-2">
    <button type="submit" class="btn red rounded-pill">Editer l'annonce</button>
    <button *ngIf="isAdmin" class="btn greyVersion rounded-pill m-1" [routerLink]="['/admin/annonces']">Annuler</button>
    <button *ngIf="!isAdmin" class="btn greyVersion rounded-pill m-1" [routerLink]="['/annonces']">Annuler</button>
  </div>
</form>
