<section id="search_bar" class="shadow m-5 text-center">
  <h2>Trouvez votre voiture idéale</h2>
  <div class=" d-flex flex-column flex-lg-row">
    <div class="dropdown mx-3">
      <button class="btn grey dropdown-toggle rounded-pill" type="button" id="dropdownMenuButton1"
        data-bs-toggle="dropdown" aria-expanded="false">
        Marque
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
    <div class="dropdown mx-3">
      <button class="btn grey dropdown-toggle rounded-pill" type="button" id="dropdownMenuButton1"
        data-bs-toggle="dropdown" aria-expanded="false">
        Modèle
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
    <div class="dropdown mx-3">
      <button class="btn grey dropdown-toggle rounded-pill" type="button" id="dropdownMenuButton1"
        data-bs-toggle="dropdown" aria-expanded="false">
        Carburant
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
    <div class="slidecontainer mx-3">
      <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
      <p>Année de mise en circulation</p>
    </div>
    <div class="slidecontainer mx-3">
      <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
      <p>Année de mise en circulation</p>
    </div>
    <div class="slidecontainer mx-3">
      <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
      <p>Année de mise en circulation</p>
    </div>
    <div class="col"><button type="submit" class="btn red rounded-pill">Recherchez</button></div>

  </div>
</section>

<form [formGroup]="sliderForm">
  <ngx-slider [options]="options" formControlName="sliderControl"></ngx-slider>
</form>
