<section id="search_bar" class="shadow m-5 text-center">
  <h2>Trouvez votre voiture idéale</h2>
  <div class=" d-flex flex-column flex-lg-row">
    <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
      <!-- <input id="make" type="text" formControlName="make" /> -->
      <select name="make" formControlName="make" (ngModelChange)="getModels()">
        <option *ngFor=" let make of makes" value={{make.id}}>{{make.name}}</option>
      </select>
      <select name="model" formControlName="model">
        <option *ngFor="let model of models" value={{model.id}}>{{model.name}}</option>
      </select>
      <button type="submit">Ajouter</button>
    </form>

    <form method="post">
      <select name="make" [(ngModel)]="makeSelected" (ngModelChange)="getModels()">
        <option *ngFor=" let make of makes" value={{make.id}}>{{make.name}}</option>
      </select>
      <select name="model">
        <option *ngFor="let model of models" value={{model.id}}>{{model.name}}</option>
      </select>
      <select name="fuelType">
        <option *ngFor="let fuelType of fuelTypes" value={{fuelType.name}}>{{fuelType.name}}</option>
      </select>
    </form>

    <div class="mx-3 sliderContainer">
      <form [formGroup]="anneeForm" class="custom-slider">
        <label> Année de mise en Circulation</label>
        <ngx-slider [options]="optionsYear" (valueChange)="test()" formControlName="annee">
        </ngx-slider>
      </form>
    </div>
    <div class="mx-3 sliderContainer">
      <form [formGroup]="kilometrageForm" class="custom-slider">
        <label> kilométrage</label>
        <ngx-slider [options]="optionsB" formControlName="kilometrage"></ngx-slider>
      </form>
    </div>
    <div class="mx-3 sliderContainer">
      <form [formGroup]="prixForm" class="custom-slider">
        <label> Prix</label>
        <ngx-slider [options]="optionsC" formControlName="prix"></ngx-slider>
      </form>
    </div>
    <div class="col"><button type="submit" class="btn red rounded-pill">Recherchez</button></div>
  </div>
</section>
