#search_bar {
  padding: 15px 15px 10px;
  margin-top: 15%;
}
.sliderContainer {
  width: 100%;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-selection {
  background: #c4c4c4 !important;
  color: black;
  padding: 0 10%;
  box-shadow: 2px 2px 5px 1px #686565 inset;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-pointer {
  background: #c4c4c4 !important;
  color: black;

  box-shadow: 2px 2px 5px 1px #686565 inset;
}
