#search_bar {
  padding: 15px 15px 10px;
  margin-top: 15%;
}
.sliderContainer {
  width: 100%;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-selection {
  background: #f50303 !important;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-pointer {
  background: #f50303 !important;
}
