<div *ngIf="!isAddForm; else addForm">
  <button (click)="showAddForm()">Ajouter un garage</button>
</div>
<ng-template #addForm>
  <form [formGroup]="addGarageForm" (ngSubmit)="submitAddForm()">
    <label for="name">name: </label>
    <input id="name" type="text" formControlName="name">
    <label for="telephone">telephone: </label>
    <input id="telephone" type="text" formControlName="telephone">
    <p>Address:</p>
    <label for="number">number: </label>
    <input id="number" type="number" formControlName="number">
    <label for="complement">complement: </label>
    <input id="complement" type="text" formControlName="complement">
    <label for="road">road: </label>
    <input id="road" type="text" formControlName="road">
    <label for="codePostal">codePostal: </label>
    <input id="codePostal" type="text" formControlName="codePostal">
    <label for="city">city: </label>
    <input id="city" type="text" formControlName="city">

    <button type="submit" class="btn red rounded-pill">Ajouter le garage</button>
  </form>

</ng-template>
<br>


<div *ngIf="editGarage == garage.id; else regularDisplay">
  <form [formGroup]="editGarageForm" (ngSubmit)="submitForm()">
    <label for="name">name: </label>
    <input id="name" type="text" value="{{garage.name}}" formControlName="name">
    <label for="telephone">telephone: </label>
    <input id="telephone" type="text" value="{{garage.telephone}}" formControlName="telephone">
    <p>Address:</p>
    <label for="number">number: </label>
    <input id="number" type="number" value="{{garage.address.number}}" formControlName="number">
    <label for="complement">complement: </label>
    <input id="complement" type="text" value="{{garage.address.complement}}" formControlName="complement">
    <label for="road">road: </label>
    <input id="road" type="text" value="{{garage.address.road}}" formControlName="road">
    <label for="codePostal">codePostal: </label>
    <input id="codePostal" type="text" value="{{garage.address.codePostal}}" formControlName="codePostal">
    <label for="city">city: </label>
    <input id="city" type="text" value="{{garage.address.city}}" formControlName="city">

    <button type="submit" class="btn red rounded-pill">Editer le garage</button>
  </form>
</div>

<ng-template #regularDisplay>
  <div class="card" style="width: 18rem;">

    <div class="card-body">
      <h5 class="card-title">{{garage.name}}</h5>

    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Nom: {{garage.name}}</li>
      <li class="list-group-item">Telephone: {{garage.telephone}}</li>
      <li class="list-group-item"> Address: {{garage.address.number}}
        <span *ngIf="garage.address.complement != null">
          {{garage.address.complement}}
        </span>{{garage.address.road}}, {{garage.address.codePostal}}, {{garage.address.city}}
      </li>
    </ul>

    <div class="card-body">
      <div *ngIf="garage.annonces.length >0; else notAnnoncesDisplay">
        <button [routerLink]="['/garage/detail', garage.id]" target="_blank" class="btn btn-primary">Voir les
          annonces</button>

      </div>
      <ng-template #notAnnoncesDisplay> You dont have annonces</ng-template>
      <hr>
      <button class="btn btn-primary" (click)="edit(garage.id)">Edit</button>
      <button class="btn btn-danger" (click)="delete(garage.id)">Delete</button>
    </div>
  </div>
</ng-template>
<br>
