<!-- The form that will appear if a user is selected to be edit -->

<div *ngIf="editUser == user.id; else regularDisplay">

  <form [formGroup]="editUserForm" (ngSubmit)="submitForm()" class="d-flex flex-column">

    <label for="lastname">Nom:</label>
    <input id="lastname" type="text" value="{{user.lastname}}" placeholder="{{user.lastname}}"
      formControlName="lastname">

    <label for="firstname">Prénom:</label>
    <input id="firstname" type="text" value="{{user.firstname}}" formControlName="firstname">

    <label for="email">Adresse Mail:</label>
    <input id="email" type="email" value="{{user.email}}" formControlName="email">

    <label for="telephone">Téléphone:</label>
    <input id="telephone" type="text" value="{{user.telephone}}" formControlName="telephone">

    <label for="siret">SIRET:</label>
    <input id="siret" type="text" value="{{user.siret}}" formControlName="siret">

    <div class="mt-2">
      <button type="submit" class="btn red rounded-pill">Editer</button>
      <button class="btn greyVersion rounded-pill m-1" (click)="cancelEditUser"> Annuler</button>
    </div>

  </form>
</div>

<!-- The form that will appear if a user want to edit it's password -->

<div *ngIf="isForEditPassword">
  <form [formGroup]="editPasswordForm" (ngSubmit)="submitEditPassword()" class="d-flex flex-column">
    <label for="currentPassword">Saisir le mot de passe actuel </label>
    <input id="currentPassword" type="text" formControlName="currentPassword">
    <label for="newPassword">Entrez le nouveau mot de passe</label>
    <input id="newPassword" type="text" formControlName="newPassword">
    <div class="mt-2">
      <button type="submit" class="btn red rounded-pill">Editer le mot de passe</button>
      <button class="btn greyVersion rounded-pill m-1" (click)="cancelEditPassword">Annuler</button>
    </div>
  </form>
</div>

<!-- The display with the user info that will be show for default -->

<ng-template #regularDisplay>
  <div class="card m-2" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{user.lastname}} {{user.firstname}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Email: <br>{{user.email}}</li>
      <li class="list-group-item">Telephone: <br>{{user.telephone}}</li>
      <li class="list-group-item"> Siret: <br>{{user.siret}} </li>
      <li class="list-group-item"> Nom d'utilisateur: <br>{{user.username}} </li>
    </ul>
    <div class="card-body">
      <div *ngIf="isAdmin">
        <button [routerLink]="['/user/detail', user.id]" target="_blank" class="btn btn-outline-secondary">
          Voir les garages et annonces
        </button>
        <hr>
      </div>
      <div *ngIf="user.username == usernameLogged || isAdmin">
        <button class="btn btn-outline-secondary" (click)="edit(user.id)">Editer</button>
      </div>
      <hr>
      <!-- <button class="btn btn-danger" (click)="delete(user.id)">Delete</button> -->
      <div *ngIf="user.username == usernameLogged">
        <button class="btn btn-outline-warning" (click)="editPassword()">Modifier le mot de passe</button>
        <hr>
        ATTENTION, ici vous supprimez votre compte
      </div>
      <app-delete-modal [data]="data"></app-delete-modal>
    </div>
  </div>
</ng-template>
