<div *ngIf="editUser == user.id; else testa">

  <form [formGroup]="editUserForm" (ngSubmit)="submitForm()">

    <label for="lastname">Nom: </label>
    <input id="lastname" type="text" value="{{user.lastname}}" placeholder="{{user.lastname}}"
      formControlName="lastname">
    <label for="firstname">Prenom : </label>
    <input id="firstname" type="text" value="{{user.firstname}}" formControlName="firstname">

    <label for="email">Adresse Mail : </label>
    <input id="email" type="email" value="{{user.email}}" formControlName="email">

    <label for="telephone">telephone: </label>
    <input id="telephone" type="text" value="{{user.telephone}}" formControlName="telephone">

    <label for="siret">siret: </label>
    <input id="siret" type="text" value="{{user.siret}}" formControlName="siret">

    <button type="submit" class="btn red rounded-pill">Editer l'utilisateur</button>


  </form>
</div>
<ng-template #testa>
  <div class="card" style="width: 18rem;">

    <div class="card-body">
      <h5 class="card-title">{{user.lastname}} {{user.firstname}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Email: {{user.email}}</li>
      <li class="list-group-item">Telephone:{{user.telephone}}</li>
      <li class="list-group-item">
        <p>Siret:{{user.siret}}</p>
      </li>
    </ul>
    <div class="card-body">
      <a href="#" class="btn btn-primary">Voir le Garages</a>
      <a href="#" class="btn btn-primary">Voir les annonces</a>
      <hr>
      <button class="btn btn-primary" (click)="edit(user.id)">Edit</button>
      <a href="#" class="btn btn-danger">Delete</a>

    </div>
  </div>
</ng-template>
