<div *ngIf="editUser == user.id; else regularDisplay">

  <form [formGroup]="editUserForm" (ngSubmit)="submitForm()">

    <label for="lastname">Nom: </label>
    <input id="lastname" type="text" value="{{user.lastname}}" placeholder="{{user.lastname}}"
      formControlName="lastname">
    <label for="firstname">Prenom : </label>
    <input id="firstname" type="text" value="{{user.firstname}}" formControlName="firstname">

    <label for="email">Adresse Mail : </label>
    <input id="email" type="email" value="{{user.email}}" formControlName="email">

    <label for="telephone">telephone: </label>
    <input id="telephone" type="text" value="{{user.telephone}}" formControlName="telephone">

    <label for="siret">siret: </label>
    <input id="siret" type="text" value="{{user.siret}}" formControlName="siret">


    <button type="submit" class="btn red rounded-pill">Editer l'utilisateur</button>


  </form>
</div>
<div *ngIf="isForEditPassword">
  <form [formGroup]="editPasswordForm" (ngSubmit)="submitEditPassword()">
    <label for="oldPassword">Saisir le mot de passe actuel </label>
    <input id="oldPassword" type="text" formControlName="oldPassword">
    <label for="newPassword">Entrez le nouveau mot de passe</label>
    <input id="newPassword" type="text" formControlName="newPassword">
    <button type="submit" class="btn red rounded-pill">Editer le mot de passe</button>
  </form>
</div>


<ng-template #regularDisplay>
  <div class="card" style="width: 18rem;">

    <div class="card-body">
      <h5 class="card-title">{{user.lastname}} {{user.firstname}}</h5>

    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Email: {{user.email}}</li>
      <li class="list-group-item">Telephone: {{user.telephone}}</li>
      <li class="list-group-item"> Siret: {{user.siret}} </li>
      <li class="list-group-item"> Username: {{user.username}} </li>
    </ul>
    <div class="card-body">
      <button [routerLink]="['/user/detail', user.id]" target="_blank" class="btn btn-primary">Voir les garages et
        annonces</button>
      <hr>
      <div *ngIf="user.username == usernameLogged">
        <button class="btn btn-warning" (click)="editPassword()">Modifier le mot de passe</button>
      </div>

      <button class="btn btn-primary" (click)="edit(user.id)">Edit</button>
      <button class="btn btn-danger" (click)="delete(user.id)">Delete</button>

    </div>
  </div>
</ng-template>
